asgiref==3.10.0
attrs==25.4.0
cffi==2.0.0
cryptography==46.0.2
Django==5.1.13
filelock==3.20.0
gps==3.26.1
greenlet==3.2.4
i3ipc==2.2.1
imageio==2.37.0
imageio-ffmpeg==0.6.0
iniconfig==2.1.0
lightdm-gtk-greeter-settings==1.2.3
msgpack==1.0.5
numpy==2.3.4
packaging==25.0
pillow==12.0.0
platformdirs==4.5.0
pluggy==1.6.0
pycparser==2.23
Pygments==2.19.2
PyGObject==3.54.3
pynvim==0.6.0
pytest==8.4.2
python-xlib==0.33
pytz==2025.2
Reflector==2023.6.28.0.36.1
screeninfo==0.8.1
six==1.17.0
smbus==1.1
sqlparse==0.5.3
waypaper==2.7
wheel==0.45.1
