{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PoriTori</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
  </head>
  <body>
    <nav>
      <div class="nav-logo">
        <a href="{% url 'home' %}">PoriTori</a>
        <button id="theme-toggle">Switch Theme</button>
        <script>
        const toggleButton = document.getElementById('theme-toggle');
        let currentTheme = localStorage.getItem('theme') || 'light';
        document.documentElement.setAttribute('data-theme', currentTheme);

        toggleButton.addEventListener('click', () => {
          if (currentTheme === 'dark') {
            currentTheme = 'light';
          } else {
            currentTheme = 'dark';
          }
          document.documentElement.setAttribute('data-theme', currentTheme);

          localStorage.setItem('theme', currentTheme);
        });
        </script>
      </div>
      <div class="nav-mid">
        <div class="discover"><a href="{% url 'discover' %}">Discover</a></div>
        <div class="Catagory"><a href="{% url 'wishlist' %}">Wishlist</a></div>
        <div class="all-books"><a href="{% url 'all_books' %}">All Books</a></div>
        <div class="writers"><a href="{% url 'all_writers' %}">Writers</a></div>
      </div>
      <div class="nav-right">
        <div class="nav-user">
          {% if user.is_authenticated %}
          <div class="nav-username">Hello! {{user.username}}</div> 
          <div class="nav-logout"><a href="{% url 'logout' %}">logout</a></div>
          {% else %}
          <div class="nav-signup"><a href="{% url 'signup' %}">signup</a></div>
          <div class="nav-login"><a href="{% url 'login' %}">login</a></div>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="home-wrapper">
      <div class="home-container">
        <div class="home-left">
          <div class="popular-books">
            <h2>Popular</h2>
            <div class="book-card">
              {% for book in popular %}
              <div class="book-details">
                <div class="book-cover"><img src="{{book.cover.url}}" height="161px" width="100px" alt=""></div>
                <div class="book-name"><h3><a href="{% url 'book' book.pk %}">{{book.title}}</a></h3></div>
                <div class="book-writer"><a href="{% url 'writer' book.writer.id %}"></a>{{book.writer}}</div>
                <div class="book-ratings"><small>{{book.book_rating}}/5</small></div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="recent-books">
            <h2>Recent</h2>
            <div class="book-card">
              {% for book in recent %}
              <div class="book-details">
                <div class="book-cover"><img src="{{book.cover.url}}" height="161px" width="100px" alt=""></div>
                <div class="book-name"><h3><a href="{% url 'book' book.pk %}">{{book.title}}</a></h3></div>
                <div class="book-writer"><a href="{% url 'writer' book.writer.id %}"></a>{{book.writer}}</div>
                <div class="book-ratings"><small>{{book.book_rating}}</small></div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="home-right">
          <div class="featured-book">
            <h2>Today's Pick</h2>
            <div class="book-card">
              <div class="book-details">
                <div class="book-large-cover"><img src="{{featured_book.cover.url}}"  height="161px" width="100px" alt=""></div>
                <div class="book-large-name"><h3><a href="{% url 'book' featured_book.pk %}">{{featured_book.title}}</a></h3></div>
                <div class="book-large-writer">{{featured_book.writer}}</div>
                <div class="book-large-ratings"><small>{{featured_book.book_rating}}/5</small></div>
                <div class="book-large-description">{{featured_book.description|linebreaksbr}}</div>
                <div class="book-large-top-commnets"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

